@model dynamic
@{
    ViewBag.Title = "HiveSense Monitoring";
}




<div class="container">
    <h1 style="color: #444; text-shadow: 3px 3px 4px #ffcc00;">
        HiveSense Monitoring</h1>
    <div class="well">
        @Html.Partial("_Graph", new HiveSenseMonitoring.Graph("Temperature", "https://www.hostedgraphite.com/59f4ace5/graphite/render/?from=-2hours&target=test_metric.temp", "temp"))
       
        @Html.Partial("_Graph", new HiveSenseMonitoring.Graph("Humidity", "https://www.hostedgraphite.com/59f4ace5/graphite/render/?from=-2hours&target=test_metric.humidity", "temp"))
        
       
    </div>
</div>
