@model dynamic
@{
    ViewBag.Title = "HiveSense Monitoring";
}




<div class="container">
    <h1 style="color: #444; text-shadow: 3px 3px 4px #ffcc00;"><img src="@Url.Content("~/Content/themes/base/images/bee.gif")" style="height: 100px;"/>
        HiveSense Monitoring</h1>
    <div class="well">
        @Html.Partial("_Graph", new HiveSenseMonitoring.Graph("Temperature", "https://www.hostedgraphite.com/59f4ace5/graphite/render/?width=500&from=-2hours&until=now&height=300&target=alias(movingAverage(keepLastValue(hive1.temp)%2C5)%2C%22Hive%20Temperature%22)&title=Hive%20Temperature&minorGridLineColor=FF9900&majorGridLineColor=FF9900&areaMode=all&areaAlpha=&bgcolor=000000&colorList=%23ffcc00&_uniq=0.8422875374089926", "temp"))
       
        @Html.Partial("_Graph", new HiveSenseMonitoring.Graph("Humidity", "https://www.hostedgraphite.com/59f4ace5/graphite/render/?width=500&from=-2hours&until=now&height=300&target=alias(movingAverage(keepLastValue(hive1.humidity)%2C5)%2C%22Hive%20Humidity%22)&title=Hive%20Humidity&minorGridLineColor=FF9900&majorGridLineColor=FF9900&areaMode=all&areaAlpha=&bgcolor=000000&colorList=%23ffcc00&_uniq=0.8967830638866872", "humidity"))
        
       
    </div>
</div>
